.banner
    background-size: cover
    background-position: center
    height: 100vh
    width: 100vw
    &__overlay
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 10vw
        width: 100%
        height: 100%
        background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent 30%)
    h1 
        font-size: 3em
        line-height: 1.25em
        color: #fff
        animation: blurIn 2s ease 1s forwards
        opacity: 0

@keyframes blurIn
    0%
        -webkit-filter: blur(5px)
        filter: blur(5px)
        opacity: 0
    100%
        -webkit-filter: blur(0px)
        filter: blur(0px)
        opacity: 1