.Header 
  background: #222
  color: white
  border-bottom: 3px solid white
  box-shadow: 0 16px 0 black
  padding: 20px 0

.Header__body 
  align-items: center
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))


.Header__title 
  flex: 1
  padding: 20px 0
  font-style: italic

  a 
    font-size: 6em
    font-weight: bold
    position: relative
    text-decoration: none
    display: flex
    align-items: center
    justify-content: flex-tart
    padding: 2px
    width: 300px
    max-width: 100%

    img 
      max-width: 100%
    
.Header__summary 
  text-decoration: none
  color: white
  text-align: center
  cursor: pointer

.Header__summary__line 
  font-size: 0.8em
  text-align: right
  padding: 10px

.Header__summary__title
  display: flex
  padding: 10px
  justify-content: flex-end
  & > *
    margin-left: 10px

.Header__item-count
  width: 25px
  height: 25px
  border-radius: 50%
  background: darkred
  transition: .5s

.Header__summary
  &:hover
    .Header__item-count
      background: red