.product
    display: grid 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    grid-row-gap: 72px
    grid-column-gap: 72px
    &__image
        height: 400px
        width: 100%
        img 
            height: 400px
            width: 100%
            object-fit: cover
            object-position: center
    &__details
        display: flex
        flex-direction: column
    &__title
        h1 
            font-size: 36px
            margin-bottom: 1em
            letter-spacing: 1px
            color: $primary
    &__description
        p 
            font-size: 16px
            letter-spacing: 1px
            margin-bottom: 2em
            color: $primary
            line-height: 1.5em
    &__dimensions
        p 
            font-size: 14px
            letter-spacing: 1px
            margin-bottom: 2em
            color: $muted
            line-height: 1.5em
    &__price
        color: $primary
        margin-bottom: 72px
        font-size: 24px
        font-weight: 600
        &:after
            content: ' - (incl. VAT @ 23%)'
            font-size: 14px
            color: $muted
            letter-spacing: 1px
            font-weight: 400
    &__buy
        background: $primary
        width: 200px
        height: 50px
        display: flex
        align-items: center
        justify-content: center
        color: whitesmoke
        border: none
        border-radius: 5px
        outline: none
        font-size: 16px
        font-family: Montserrat, sans-serif
        letter-spacing: 1px
        font-weight: 600
        text-transform: uppercase
        box-shadow: 0 8px 16px 0 rgba(0,0,0,.25)
        cursor: pointer
        transition: .25s
        &:hover
            background: $muted
            color: #fff

@include mobile-only
    .product
        &__image
            height:  220px
            img 
                height: 220px
